.projects{
    background-color: #1d809f;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}
.text{
    margin:0px;
    padding:40px;
    margin-left:10px;
    color: white;
}